---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>About me</h2>
				<img src="favicon.jpg"/>
				<p><a href="https://en.wikipedia.org/wiki/Tibetan_Americans">Tibetan-American</a> engineer at <a href="https://www.gojek.com/en-id/">Gojek</a>, Southeast Asia's largest ride-hailing unicorn. Previously hacking at <a href="https://www.jagocoffee.com/">Jago Coffee</a> and <a href="http://intel.com/">Intel</a>. Born in <a href="https://theculturetrip.com/asia/india/articles/the-top-10-things-to-see-and-do-in-dharamsala/">India</a>, raised in <a href="https://gotruckster.com/info/what-is-portland-known-for">Portland</a>, and now working remotely in <a href="https://nomadific.com/indonesia-guide-for-digital-nomads/">Indonesia</a>. Passionate about travelling ✈️, tennis 🎾, space 🚀, surfing 🏄🏻‍♂️, and niche products 💡</p>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2>Projects I have worked on</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<h3 style="padding-top: 10px">{{ item.project.title }}</h3>
								<span class="h2">{{ item.project.type }}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>

		<section class="projects">
			<div class="container">
				<h2>Discuss with me</h2>
				<p style="text-align:center;">Open to discuss career growth, company growth, and even bootstrapping.</p>
				<!-- Calendly inline widget begin -->
				<div class="calendly-inline-widget" style="min-width:320px;height:660px;" data-auto-load="false">
				 <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
				 <script>
				 Calendly.initInlineWidget({
				 url: 'https://calendly.com/jasonganub/product-session?hide_event_type_details=1&background_color=fff'
				 });
				 </script>
				</div>
				<!-- Calendly inline widget end -->
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>